body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Handlee', cursive;
}

@media (max-width: 1439px) {
    body {
        background-image: url(../images/background_min.jpg);
        background-size: cover;
    }
}

h1 {
    text-align: center;
    font-size: 25pt;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 span {
    border: 4px dashed #6E4E21;
    padding: 10px;
}

#text {
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    border: 10px solid #2F3841;
    border-radius: 80px;
    height: 270px;
    width: 450px;
    opacity: 0.75;
    padding: 50px;
}

#my_skills_text {
    margin: 0 auto;
    background-color: #fff;
    border: 10px solid #2F3841;
    border-radius: 80px;
    height: 270px;
    width: 350px;
    opacity: 0.75;
    padding-left: 150px;
    padding-top: 30px;
}

#number_phone {
    margin: 0 auto;
    background-color: #fff;
    border: 10px solid #2F3841;
    border-radius: 80px;
    height: 167px;
    width: 350px;
    opacity: 0.75;
    padding-left: 175px;
    padding-top: 58px;
}

#images {
    background-color: #fff;
    text-align: center;
    border: 10px solid #2F3841;
    border-radius: 60px;
    height: 100px;
    width: 250px;
    opacity: 0.75;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 5px;
}

#image1:hover {
    transform: scale(1.5);
}

.btn-main {
    padding: 15px;
    text-decoration: none;
    background-color: #256ada;
    color: #fff !important;
    border-radius: 5px;
}

.show_phone {
    padding-left: 15px;
    padding-top: 25px;
}

#array {
    margin: 0 auto;
    background-color: #fff;
    border: 10px solid #2F3841;
    border-radius: 80px;
    height: 167px;
    width: 350px;
    opacity: 0.75;
    padding-left: 175px;
    padding-top: 58px;
}